@import "tailwindcss";

@theme {
  --font-serif: "Zen Old Mincho", ui-serif, Georgia, serif;

  --color-app-bg: #070b12;
  --color-button-bg: #002128;
  --color-button-text: #c9b36c;

  --spacing-icon: 64px;
}

:root {
  --frame-scale: 0.3;
  --frame-corner-size: 100px;
  --frame-edge-size: 10px;
  --button-gap: 20px;
  --font-family: var(--font-serif);
}

html {
  font-family: var(--font-family);
}
